*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --kanit:"kanit";
    --caveat:"caveat";
}
body{
    background-color: #000;
    font-family: var(--kanit),sans-serif;
}
.ff-caveat
{
    font-family: var(--caveat);
}
.ff-kanit
{
    font-family: var(--kanit);
}
a{
    text-decoration: none;
    
}
ul,li
{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.align-content{
    align-content: center;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around
{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.head-bg{
    background-color: #000;
    width: 100%;
}
.flex
{
    display: flex;
    flex: 2;
}
.bg-#ffff{
    background-color: #ffff;
}
/* padding */
.pr-10
{
    padding-right: 10px;
}
.border-right{
    border: 1px solid rgba(255, 255, 255, 0.45);
    padding: 20px;
    border-top: none;
}
.left-img{
    padding-left: 45px;
    border-left: none;
}
.navigation{
    text-align: center;  
    padding-top: 30px;
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
   
}
.navigation a{
    padding-right: 25px;
    color: #ffff;
    transition: all 0.5s;
}
.navigation a:hover {
    color: #c9f31d;
}
.btn{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.head{
    margin: 10px;
}
.talk-btn{
    padding: 20px;
    font-size: 20px;
    text-transform: capitalize;
    background-color:#c9f31d ;
    border: none;
    border-radius: 5px;
}
.bar-btn{
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.transition
{
    transition: all 0.5s;
}
/* <!-- banner-content --> */


.banner-content{
    background-image: url("../image/banner-bg-b0959b36.png");
   background-attachment: fixed;
   z-index: -1;
}
.designer{
    z-index: 1;
}
.freelance{
    /* text-align:center ; */
    margin: auto;
}
.first-p{
    color: #ffff;
    font-size: 22px;
    text-transform: capitalize;
    text-align: left;
    line-height: 50px;
    /* margin-left: 100px; */
    letter-spacing: 1px;
    padding-top: 99px;
    transition: all 0.5s;
}
.second-p{
    color: #ffff;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #ffff;
    transition: all 0.5s;
    padding-left: 50px;
}
.first-p:hover , .second-p:hover{
    color: #c9f31d;
}
.svg{
    padding-left: 20px;
}
.hone{
    color: #ffff;
    font-size: 50px;
    /* padding-left: 23%; */
    padding-top: 50px;
}
.hone h1:nth-child(2){
    color: #c9f31d;
}
.process{
    color: #ffff;
    font-size: 20px;
    padding-left: 20px;
}
.triangle-btn
{
    padding-left: 20px;
}
.triangle-btn button{
    padding: 15px;
    border-radius: 100%;
    border: 1px solid #ffff;
    color: #ffff;
    background-color: #000;
}
.triangle-btn button svg{
    padding-left: 5px;
}
.video-btn-row{
    padding: 57px 0;
}
.zig-zag-row img
{
    animation: 2s  linear 0s infinite normal none running;
}

.designer{
    margin: auto;
}
.img-content{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

/*  <!-- marquee --> */


marquee{
    background-color: #c9f31d;
    padding: 20px 0;
}
.marquee img
{
    width: 100%;
}


/*  <!-- box-prsonal-info --> */


.personal-head{
    text-align: center; 
    padding-top: 100px;
}
.residing{
    color: #ffff;
    font-size: 42px;
    /* font-weight: 100; */
    padding-top: 50px;
    line-height: 50px;
}
.multiple-btns{
    padding-top: 60px;
}
.multiple-btns button{
    padding: 15px 25px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
}
.multiple-btns button:first-child {
    background-color: #c9f31d;
    border: none;
    border-radius: 10px;
    font-weight: 200;
}
.multiple-btns button:nth-child(2) , .multiple-btns button:nth-child(3) , .multiple-btns button:nth-child(4){
    background-color: #1d1d1d;
    color: #ffff;
    border: none;
    border-radius: 10px;
}
.box{
    background-image: url("../image/bg-black.png");
    background-repeat: no-repeat;
    padding:21px;   
    margin-left: 300px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}
.box img{
    margin: 50px 0;
    padding-left: 50px;
}
.info{
    color: #ffff;
    padding-left: 78px;
    text-align: start;
}
.porro{
    font-size: 20px;
    font-weight: 100;
    color: #efebebed;
    padding-left: 18px;
}
.personal{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-left: 18px;
}
.a-box{
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    padding-left: 40px;
    background-color: #1D1D1D;
    transition: all 1s;
    border:1px solid  transparent;
}
.a-box:hover{
    border: 1px solid #c9f31d;
}
.mail{
    padding: 10px 20px;
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
}
.mail h1
{
    font-weight: 400;
}
.id{
    padding: 10px 20px;
    text-transform: capitalize;
    color: #ffff;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 500;
}
.id a{
    color: #ffff;
    font-weight: 400;
}
.app{
    margin-right: 80px;
}
.app-row{
    padding-top: 20px;
}
.app-row svg{
    margin: 10px;
}
.phone{
    margin-right: 100px;
}

/*  <!-- marquee --> */


.mark-yellow{
    margin-top: 60px;
}

/* award-section */


.award-section{
    background-image: url("../image/award.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.award-box{
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    color: #ffff;
}
.our{
    font-size: 25px;
    text-transform: capitalize;
}
.our h1
{
    font-weight: 300;
}
.port{
    color: #c9f31d;
    font-size: 22px;
    text-transform: capitalize;
    font-weight:500;
}
.award{
    padding: 100px 50px;
}
.site
{
    font-size: 20px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 300;
}
.animation
{
    font-size: 20px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 300;
}
.year
{
    font-size: 20px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 300;
}
.Strategy{
    padding-right: 60px;
}

/* <!-- portfolio --> */


.complete{
    color: #c9f31d;
    font-size: 25px;
    padding:20px 10px;
    font-family: var(--caveat);
}


.portfolio{
    text-align: center;
}
.project{
    margin-top: 50px;
    padding-top: 80px;
    padding: 0 800px;
}
.dash-left{
    position: relative;
}
.dash-left::after{
    position: absolute;
    content: "";
    width: 70px;
    background-color: #c9f31d;
    top: 50%;
    right: 20px;
    height: 1px;
}
.dash-right{
    position: relative;
}
.dash-right::after{
    position: absolute;
    content: "";
    width: 70px;
    background-color: #c9f31d;
    top: 50%;
    left: 20px;
    height: 1px;
}
.project-head{
    text-align: center;
    color: #ffff;
    line-height: 60px;
    font-size: 30px;
    padding:0px 614px ;
    
}
.project-head h1
{
    font-weight: 400;
}
.brand-motion{
    margin-top: 100px;
}
.product-design{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #c9f31d;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.identity{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    color: #ffff;
    text-transform: uppercase;
}
.up-svg{
    color: #ffff;
    border-radius: 6px;
    padding: 15px;
    background-color: #1D1D1D;
}
.gift .up-svg{
    transition: all 0.5s;

}
.gift:hover .up-svg{
    background-color: #c9f31d;
    color: #1D1D1D;
}
.test
{
    overflow: hidden;
   
}

.square-box
{
    transform: scale(1);
    transition: all 0.5s;
}

.test:hover .square-box
{
   cursor: pointer;
   transform: scale(1.01);

}
.test:hover img
{
    border-radius: none;
}

.card-holder 
{
    transform: scale(1);
    transition: all 0.5s;
}

.test:hover .card-holder
{
   cursor: pointer;
   transform: scale(1.01);

}

.premium{
    margin-top: 80px;
}
.premium img{
    width: 100%;
}
.more-work
{
    position: relative;
    border: none;
    width: 210px;
    height: 210px;
    border-radius: 300px;
    background-color: #c9f31d;
    font-size: 18px;
    align-content: center;
    text-align: center;
    margin: 80px 0;
}
.more-work:hover{
    cursor: pointer;
}
.more-work::after         
{
    content: "";
    position: absolute;
    bottom: -13px;
    left: -13px;
    width: 210px;
    height: 210px;
    /* opacity: 0; */
    border-radius: 50%;
    transition: 0.4s;
    border: 1px solid #c9f31d;
}
.more-work::after:hover      
{
    content: "";
    top: -12px;
    left: -12px;
    width: 210px;
    height: 210px;
    /* opacity: 0; */
    border-radius: 50%;
    transition: 0.4s;
    border: 1px solid #c9f31d;
}

/* <!-- need a project --> */

.right-img img{
    padding-left: 50px;
    width: 528px;
    height: 626px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.need
{
    position: relative;
}
.need::after
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: 10px;
    bottom: 0;
    background-color: #c9f31d;
}
.right-proj
{
    color: #c9f31d;
    padding-left: 80px;
    font-family: var(--caveat);
    font-size: 18px;

}
.work{
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding-top: 90px;
    transition: all 0.52s;
}
.work:hover
{
    border-bottom: 1px solid #c9f31d;
}
.meeting
{
    color: #ffff;
    padding-top: 20px ;
   
}
.meeting h1
{
    font-size: 50px;
    font-weight: 300;
}
.span-svg
{
    background-color: #c9f31d;
    padding: 20px;
    border-radius: 100px;
}
.matias
{
    padding-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 30px;
}
.matias span
{
    color: rgba(128, 128, 128, 0.729);
}
.matias a
{
    color: #ffff;
}
.fixed
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding:20px 0;
    transition: all 0.5s;
}
.fixed:hover
{
    border-bottom: 1px solid #c9f31d;
}
.matias p
{
    color: #ffff;
}

/* <!-- provided services --> */


.development
{
    margin: 100px 0  ;
}
.provide-left
{
    position: relative;
}
.provide-left::after
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: 16px;
    left: 36.8%;
    background-color: #c9f31d;
}
.special
{
    color: #c9f31d;
    padding-right: 14px;
    font-size: 24px;
}
.provide-right
{
    position: relative;
}
.provide-right::before
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: -12px;
    right: 37.5%;
    background-color: #c9f31d;
}
.lets{
    text-align: center;
    padding-top: 80px ;
}

.business h1
{
    color: #ffff;
    text-align: center;
    padding-top: 42px ;
    font-size: 60px;
    font-weight: 400;
}

.serial-adjust
{
    color: #ffff;
    font-size: 20px;
}
.cont
{
    color: #ffff;
    line-height:40px;
    padding-left: 50px;


}
.cont h5
{
    font-size: 20px;
    font-weight: 500;
}
.cont h2
{
    font-size: 30px;
    transition: all 0.5s;
    font-weight: 400;
}
.pra
{
    color: #999999;
    padding-top: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
.down
{
    width: 50px ;
    height: 50px;
    color: #ffff;
    border-radius: 6px;
    text-align: center;
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items:  center;
    transition: all 0.5s;
}
.yellow-hoverable-row
{
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-left: none;
    border-right: none;
    padding: 40px 0;
    margin-top: 50px;
}

.yellow-hoverable-row:hover
{
    border: 1px solid #c9f31d;
    border-left: none;
    border-right: none;
}
.yellow-hoverable-row:hover h2
{
    color:  #c9f31d;
}
.yellow-hoverable-row:hover .down
{
    background-color: #c9f31d;
    color: black;
}
.hoverable-row
{
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 40px 0;
}
.hoverable-row:hover
{
    border: 1px solid #c9f31d;
    border-left: none;
    border-right: none;
    border-top: none;
}
.hoverable-row:hover h2
{
    color:  #c9f31d;
}
.hoverable-row:hover .down
{
    background-color: #c9f31d;
    color: black;
}


/*     <!-- working process --> */



.gap-10
{
    gap: 10px;
}
.few h1
{
    font-size: 43px;
    margin-top: 40px;
    font-weight: 500;
}
.steps
{
    color: white;
    line-height: 20px;
    margin: 80px 0;
    padding-bottom: 100px;
}
.Concept-cart
{
    border: 1px solid rgb(38, 37, 37);
    padding:25px 30px;
    transition: all 0.5s;
    border-radius: 10px;
}
.Concept-cart:hover
{
    border: 1px solid #c9f31d;
}
.Concept-cart:hover .process-item::before
{
    background-color: #c9f31d;
}
.Design-cart
{
    border: 1px solid rgb(38, 37, 37);
    padding:30px;
    transition: all 0.5s;
    border-radius: 10px;
}
.Design-cart:hover
{
    border: 1px solid #c9f31d;
}
.Design-cart:hover .process-item::before
{
    background-color: #c9f31d;
}
.Webflow-cart
{
    border: 1px solid rgb(38, 37, 37);
    padding:30px;
    transition: all 0.5s;
    border-radius: 10px;
}
.Webflow-cart:hover
{
    border: 1px solid #c9f31d;
}
.Webflow-cart:hover .process-item::before
{
    background-color: #c9f31d;
}
.Concept-h1 h1
{
    font-size: 45px;
    font-weight: 500;
}
.little p
{
    font-size: 18px;
    color: #999999;
    padding-top: 30px;
    font-weight: 400;
}
.yellow-dot-top
{
    padding-top: 30px;
}
.dot
{
    position: relative;
}
.dot::after
{
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    top: -14px;
    left: 0;
    background-color: #c9f31d;
    border-radius: 100px;
}
.reviewing p
{
   padding-left: 18px;
   color: #999999;
   font-size: 20px;
   font-weight: 400;
   padding-bottom: 20px;
}
.process-item
{
    position: relative;
}
.process-item::before
{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    right: -30px;
    bottom: -34px;
    background-color: #121212;
    border-radius: 100px 20px 20px 0;
    transition: all .4s;
}
.design-item
{
    position: relative;
}
.design-item::before
{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    right: -30px;
    bottom: -30px;
    background-color: #121212;
    border-radius: 100px 20px 20px 0;
    transition: all .4s;
}
.Webflow-item
{
    position: relative;
}
.Webflow-item::before
{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    right: -30px;
    bottom: -30px;
    background-color: #121212;
    border-radius: 100px 20px 20px 0;
    transition: all .4s;
}

/* <!-- Happy Words  --> */


.owner
{
    background-image: url("../image/award.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.believable
{
    position: relative;
    padding:150px 50px;
    z-index: 1;
}
.testimo
{
    padding-top: 120px;
    
}
.quote{
    position: absolute;
    top: 59px;
    left: 271px;
    z-index: -1;
}
.testimonial
{
    color: #ffff;
    text-transform: capitalize;
    color: #c9f31d;
}

.customer
{
    color: #ffff;
    text-align: center;
    padding: 25px 0;
    letter-spacing: 2px;
}
.customer h1
{
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
}
.side-swiper p
{
    /* padding-top: 71px; */
    font-size: 19px;
    font-weight: 500;
}
.star
{
    color: #ffa311;
    position: absolute;
    top: 85px;
    bottom: 0;
}
.there
{
    padding-top: 14px;
}
.gap
{
    gap: 10px;

}
.nethon
{
    padding-top: 25px;
}
.nethon p
{
    color: #c9f31d;
    text-transform: capitalize;
    font-size: 25px;
}
.nethon h4
{
    color: #999999;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 5px;
}
.radio
{
    color: #c9f31d;
    padding-left: 20px;
}
.man-1-img 
{
    position: absolute;
    top: 30px;
    left: 64px;
    height: 93px;
}
.man-2-img
{
    position: absolute;
    left: 46px;
    bottom: 18px;
}
.man-3-img
{
    position: absolute;
    top: 22px;
    right: 0px;
}
.data-star
{
    position: absolute;
    bottom: 38px;
    right: 121px;
}
.side-swiper
{
    color: #ffff;
}

.sponsers
{
    color: #ffff;
    text-align: center;
    font-style: 24px;
    text-transform: capitalize;
    padding-top: 50px;
    /* letter-spacing: 2px; */
    font-weight: 500;
}
.logo-img-row
{
    padding: 70px 0;
}
.sponser-slide-wallmart
{
    transition: all 0.5;
}
.sponser-slide-wallmart:hover img
{
    filter: brightness(2);
}
.sponser-slide-linkedin
{
    transition: all 0.5;
}
.sponser-slide-linkedin:hover img
{
    filter: brightness(2);
}
.sponser-slide-google
{
    transition: all 0.5;
}
.sponser-slide-google:hover img
{
    filter: brightness(2);
}
.sponser-slide-slack
{
    transition: all 0.5;
}
.sponser-slide-slack:hover img
{
    filter: brightness(2);
}
.sponser-slide-wallmart-2
{
    transition: all 0.5;
}
.sponser-slide-wallmart-2:hover img
{
    filter: brightness(2);
}



/*  <!-- my blogs --> */


.recent
{
    margin: 54px 0;
    padding: 80px 0;
    padding-left: 0;
    transition: all 0.5s;
    /* padding-left: 0;  */
}
.dummy
{
    /* border: 2px solid red; */
    /* width: 42%; */
}
/* .blog-dash
{
    position: relative;
} */
.blog-dash::after{
    /* position: absolute; */
    content: "";
    width: 70px;
    background-color: #c9f31d;
    /* top: 13px; */
    /* left: 150px; */
    /* left: 0; */
    display: block;
    height: 1px;
}
.my-blog
{
    color: #c9f31d;
    font-size: 30px;
    text-transform: capitalize;
    display: block;
    /* position: absolute;
    left: 270px; */
    padding-left:20px;
}
.post
{
    color: #ffff;
    
    display: block;
    padding: 10px 0px;
}

.post h3
{
    font-size: 40px;
    font-weight: 400;
}

.eyes
{
    padding: 12px 0;
    /* padding-right: 50px; */
}
.dates
{
    color: #999999;
    border: 1px solid rgb(38, 37, 37);
    padding:7px 15px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    padding-right: 27px;
    /* display: block; */
    width: fit-content;
}
.helps
{
    padding-top: 20px;
    color: #ffff;
    transition: all 0.5s;
}
.helps h1
{
    font-size: 25px;
    font-weight: 400;
}
.spectacular img
{
    /* width: 100%; */
    max-width: 290px;
    height: 157px;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}
.company-grow:hover img
{
    opacity: 1;
}
.company-grow:hover 
{
    border-top: 1px solid #c9f31d;
    border-bottom: 1px solid #c9f31d;
}
.company-grow:hover .helps
{
    color:#c9f31d;
}
.company-grow:hover .common-icon
{
    color:#c9f31d;
    border: 1px solid #c9f31d;
}
.common-icon
{
    color: #ffff;
    border: 1px solid rgb(66, 65, 65);
    border-radius: 50px;
    padding: 20px ;
    transition: all 0.5s;
}
.btn-3
{
    /* border: 2px solid green; */
    /* padding: 80px 0px ; */
}
.more-work-left
{
    border: none;
    width: 210px;
    height: 210px;
    border-radius: 300px;
    background-color: #c9f31d;
    font-size: 18px;
    align-content: center;
    text-align: center;
}
.more-work-left:hover{
    cursor: pointer;
}
.company-grow
{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    
    padding-left: 0;
    padding: 10px;
}
.grow-top0
{
    border-bottom: 1px solid #999999; 
    transition: all 0.5s;
    padding-left: 0;
    padding: 10px;
}
.grow-top0:hover img
{   
    opacity: 1; 

}
.grow-top0:hover 
{
    border-bottom: 1px solid #c9f31d;
}
.grow-top0:hover .helps
{
    color:#c9f31d;
}
.grow-top0:hover .common-icon
{
    color:#c9f31d;
    border: 1px solid #c9f31d;
}

.ideas
{
    padding-top: 20px;
    color: #ffff;
    font-size: 24px;
}


/* <!-- footor-top --> */



.touch
{
    text-transform: uppercase;
    color: #ffff;
    border: 1px solid rgb(38, 37, 37);
    border-radius: 10px;
    text-align: center;
    padding:20px 200px;
    
    margin-top: 120px;
    margin-bottom: 50px;
}
.touch h1 
{
    letter-spacing: 5px;
    font-size: 100px;
    font-weight: 500;
}
.get-content
{
    color: #ffff;
    font-size: 25px;
    padding: 20px;
    padding-bottom: 90px;
    padding-left: 0;
}
.get-content p
{
    color: #ffff;
    font-size: 22px;
    padding-bottom: 55px;
    /* font-weight: 500; */
}

.get-content a
{
    color: #ffff;
    font-size: 35px;
    text-transform: capitalize;
    /* font-weight: 500; */
}

.get{
    padding: 25px;
    border: 1px solid rgb(38, 37, 37);
    border-radius: 10px;
    margin: 8px;
    transition: all 0.5s;
    
}
.get:hover
{
    background-color: #c9f31d;
}
.get:hover .arrow-right-1
{
    color: #000;
}
.get:hover .fb a
{
    color: #000;
}


.fb a
{
    color: #ffff;
    text-transform: capitalize;
    font-size: 24px;
    transition: all 0.5s;

}
.arrow-right-1
{
    color: #ffff;
}
/* <!-- footor-bottom --> */


.bottom-foot
{
    margin-top: 50px;
}
.copy-right
{
    color: #ffff;
    padding: 20px 0;
    font-size: 20px;
    padding-right: 50px;
}
.span-matias
{
    color: #c9f31d;
}
.terms
{
    gap: 38px;
    padding: 20px 0;
    color: #ffff;
    font-size: 20px;
}

.condi
{
    transition: all 0.5s;
}
.condi:hover
{
    color: #c9f31d;
}
.private
{
    padding-left: 20px;
    transition: all 0.5s;
}
.private:hover
{
    color: #c9f31d;
}
.toparrow
{
    padding: 10px;
    background-color: #c9f31d;
    border-radius: 5px;
}