*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
a{
    text-decoration: none;
    
}
ul,li
{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.align-content{
    align-content: center;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.head-bg{
    background-color: #000;
}

.bg-white{
    background-color: white;
}
.border-right{
    border: 1px solid rgba(255, 255, 255, 0.45);
    padding: 20px;
    border-top: none;
}
.left-img{
    padding-left: 45px;
    border-left: none;
}
.navigation{
    text-align: center;  
    padding-top: 30px;
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
   
}
.navigation a{
    padding-right: 25px;
    color: white;
    transition: all 0.5s;
}
.navigation a:hover {
    color: #c9f31d;
}
.btn{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.head{
    margin: 10px;
}
.talk-btn{
    padding: 20px;
    font-size: 20px;
    text-transform: capitalize;
    background-color:#c9f31d ;
    border: none;
    border-radius: 5px;
}
.bar-btn{
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

/* <!-- banner-content --> */


.banner-content{
    background-image: url("../image/banner-bg-b0959b36.png");
   background-attachment: fixed;
   z-index: -1;
}
.designer{
    z-index: 1;
}
.freelance{
    /* text-align:center ; */
    margin: auto;
}
.first-p{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    line-height: 50px;
    /* margin-left: 100px; */
    letter-spacing: 1px;
    padding-top: 99px;
    transition: all 0.5s;
}
.second-p{
    color: white;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    transition: all 0.5s;
    padding-left: 50px;
}
.first-p:hover , .second-p:hover{
    color: #c9f31d;
}
.svg{
    padding-left: 20px;
}
.hone{
    color: white;
    font-size: 80px;
    /* padding-left: 23%; */
    padding-top: 50px;
}
.hone h1:nth-child(2){
    color: #c9f31d;
}
.process{
    color: white;
    font-size: 50px;
    padding-left: 20px;
}
.triangle-btn
{
    padding-left: 20px;
}
.triangle-btn button{
    padding: 15px;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    background-color: #000;
}
.triangle-btn button svg{
    padding-left: 5px;
}
.video-btn-row{
    padding: 57px 0;
}
.designer{
    margin: auto;
}
.img-content{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

/*  <!-- marquee --> */


marquee{
    background-color: #c9f31d;
    padding: 20px 0;
}


/*  <!-- box-prsonal-info --> */


.personal-head{
    text-align: center; 
    padding-top: 100px;
}
.residing{
    color: white;
    font-size: 22px;
    font-weight: 900;
    padding-top: 50px;
    line-height: 50px;
}
.multiple-btns{
    padding-top: 60px;
}
.multiple-btns button{
    padding: 15px 25px;
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
}
.multiple-btns button:first-child {
    background-color: #c9f31d;
    border: none;
    border-radius: 10px;
    font-weight: 200;
}
.multiple-btns button:nth-child(2) , .multiple-btns button:nth-child(3) , .multiple-btns button:nth-child(4){
    background-color: #1d1d1d;
    color: white;
    border: none;
    border-radius: 10px;
}
.box{
    background-image: url("../image/bg-black.png");
    background-repeat: no-repeat;
    padding:21px;   
    margin-left: 300px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}
.box img{
    margin: 50px 0;
    padding-left: 50px;
}
.info{
    color: white;
    padding-left: 78px;
    text-align: start;
}
.porro{
    font-size: 20px;
    font-weight: 500;
    color: #efebebed;
    padding-left: 18px;
}
.personal{
    font-size: 45px;
    margin-bottom: 30px;
    padding-left: 18px;
}
.a-box{
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    padding-left: 40px;
    background-color: #1D1D1D;
    transition: all 1s;
    border:1px solid  transparent;
}
.a-box:hover{
    border: 1px solid #c9f31d;
}
.mail{
    padding: 10px 20px;
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
}
.id{
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 500;
}
.id a{
    color: white;
}
.app{
    margin-right: 80px;
}
.app-row{
    padding-top: 20px;
}
.app-row svg{
    margin: 10px;
}
.phone{
    margin-right: 100px;
}

/*  <!-- marquee --> */


.mark-yellow{
    margin-top: 60px;
}

/* award-section */


.award-section{
    background-image: url("../image/award.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.award-box{
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    color: white;
}
.our{
    font-size: 25px;
    text-transform: capitalize;
    font-weight:500;
    padding: 30px 0;
}
.work{
    color: #c9f31d;
    font-size: 22px;
    text-transform: capitalize;
    font-weight:500;
    padding: 30px 0;
}
.award{
    padding: 100px 50px;
}
.site
{
    font-size: 22px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 500;
}
.animation
{
    font-size: 22px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 500;
}
.year
{
    font-size: 22px;
    padding: 30px 0;
    text-transform: capitalize;
    font-weight: 500;
}
.Strategy{
    padding-right: 60px;
}

/* <!-- portfolio --> */


.complete{
    color: white;
    font-size: 25px;
    padding:20px 10px;
}


.portfolio{
    text-align: center;
}
.project{
    margin-top: 50px;
    padding-top: 80px;
    padding: 0 800px;
}
.dash-left{
    position: relative;
}
.dash-left::after{
    position: absolute;
    content: "";
    width: 70px;
    background-color: #c9f31d;
    top: 50%;
    right: 20px;
    height: 1px;
}
.dash-right{
    position: relative;
}
.dash-right::after{
    position: absolute;
    content: "";
    width: 70px;
    background-color: #c9f31d;
    top: 50%;
    left: 20px;
    height: 1px;
}
.project-head{
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 30px;
    padding:0px 614px ;
}
.brand-motion{
    margin-top: 100px;
}
.product-design{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #c9f31d;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.identity{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
}
.up-svg{
    color: white;
    border-radius: 6px;
    padding: 15px;
    background-color: #1D1D1D;
}
.gift .up-svg{
    transition: all 0.5s;

}
.gift:hover .up-svg{
    background-color: #c9f31d;
    color: #1D1D1D;
}
.test
{
    overflow: hidden;
   
}

.square-box
{
    transform: scale(1);
    transition: all 0.5s;
}

.test:hover .square-box
{
   cursor: pointer;
   transform: scale(1.01);

}
.test:hover img
{
    border-radius: none;
}

.card-holder 
{
    transform: scale(1);
    transition: all 0.5s;
}

.test:hover .card-holder
{
   cursor: pointer;
   transform: scale(1.01);

}

.premium{
    margin-top: 80px;
}
.premium img{
    width: 100%;
}
.more-work
{
    border: none;
    width: 210px;
    height: 210px;
    border-radius: 300px;
    background-color: #c9f31d;
    font-size: 18px;
    align-content: center;
    text-align: center;
    margin: 80px 0;
}
.more-work:hover{
    cursor: pointer;
}

/* <!-- need a project --> */

.desktop
{
    /* margin-top: 80px; */
}
.right-img img{
    padding-left: 50px;
    padding-top: 30px;
}
.need
{
    position: relative;
}
.need::after
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: 10px;
    bottom: 0;
    background-color: #c9f31d;
}
.right-proj
{
    color: #c9f31d;
    padding-left: 80px;

}
.work{
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding-top: 90px;
    transition: all 0.52s;
}
.work:hover
{
    border-bottom: 1px solid #c9f31d;
}
.meeting
{
    color: white;
    padding-top: 20px ;
   
}
.meeting h1
{
    font-size: 58px;
}
.span-svg
{
    background-color: #c9f31d;
    padding: 20px;
    border-radius: 100px;
}
.matias
{
    padding-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 30px;
}
.matias span
{
    color: rgba(128, 128, 128, 0.729);
}
.matias a
{
    color: white;
}
.fixed
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding:20px 0;
    transition: all 0.5s;
}
.fixed:hover
{
    border-bottom: 1px solid #c9f31d;
}
.matias p
{
    color: white;
}

/* <!-- provided services --> */

.provide-left
{
    position: relative;
}
.provide-left::after
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: 12px;
    left: 37%;
    background-color: #c9f31d;
}
.special
{
    color: #c9f31d;
    padding-right: 14px;
    font-size: 20px;
}
.provide-right
{
    position: relative;
}
.provide-right::before
{
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    top: -10px;
    right: 38%;
    background-color: #c9f31d;
}
.lets{
    text-align: center;
    padding-top: 80px ;
}

.business h1
{
    color: white;
    text-align: center;
    padding-top: 42px ;
    font-size: 60px;
    font-weight: 600;
}

.serial-adjust
{
    color: white;
    font-size: 20px;
}
.cont
{
    color: white;
    line-height:40px;
    padding-left: 50px;


}
.cont h5
{
    font-size: 20px;
}
.cont h2
{
    font-size: 30px;
    transition: all 0.5s;
}
.pra
{
    color: #999999;
    padding-top: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.down
{
    width: 50px ;
    height: 50px;
    color: white;
    border-radius: 6px;
    text-align: center;
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items:  center;
    transition: all 0.5s;
}
.yellow-hoverable-row
{
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-left: none;
    border-right: none;
    padding: 40px 0;
    margin-top: 50px;
}

.yellow-hoverable-row:hover
{
    border: 1px solid #c9f31d;
    border-left: none;
    border-right: none;
}
.yellow-hoverable-row:hover h2
{
    color:  #c9f31d;
}
.yellow-hoverable-row:hover .down
{
    background-color: #c9f31d;
    color: black;
}
.hoverable-row
{
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.409);
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 40px 0;
}
.hoverable-row:hover
{
    border: 1px solid #c9f31d;
    border-left: none;
    border-right: none;
    border-top: none;
}
.hoverable-row:hover h2
{
    color:  #c9f31d;
}
.hoverable-row:hover .down
{
    background-color: #c9f31d;
    color: black;
}

/* <!-- footor-bottom --> */


.bottom-foot
{
    margin-top: 50px;
}
.copy-right
{
    color: white;
    padding: 20px 0;
    font-size: 20px;
    padding-right: 50px;
}
.span-matias
{
    color: #c9f31d;
}
.terms
{
    gap: 38px;
    padding: 20px 0;
    color: white;
    font-size: 20px;
}

.condi
{
    transition: all 0.5s;
}
.condi:hover
{
    color: #c9f31d;
}
.private
{
    padding-left: 20px;
    transition: all 0.5s;
}
.private:hover
{
    color: #c9f31d;
}
.toparrow
{
    padding: 10px;
    background-color: #c9f31d;
    border-radius: 5px;
}